/* *{
    box-sizing: border-box;
    margin: 0;
} */

*, :before, :after {
    /* box-sizing: border-box; */
    /* border-width: 0; */
    /* border-style: solid; */
    /* border-color: #e5e7eb; */
}

/* :before, :after {
    --tw-content: "";
} */

.notification-container {
    position: relative;
    border-radius: 50%;
    background-color: #e2e8f0;
}

.notification-bell {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d3748;
}

.notification-bell svg {
  width: 16px;
  height: 16px;
}

.notification-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: 700;
}


/* Home Banner */
.banner-1 {
    background: linear-gradient(135deg, #9013fe, #6c2bd9);
    color: #fff;
}

.banner-1:before {
    content: "";
    position: absolute;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: #ffffff1a;
    border-radius: 50%;
    z-index: 1;
}

.banner {
    width: 100% !important;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    min-height: 210px;
}

.icon-section {
    flex-shrink: 0;
}

.banner-image {
    width: 120px;
    border-radius: 24px;
    -o-object-fit: cover;
    object-fit: cover;
    background: #fff3;
    flex-shrink: 0;
    padding: 12px;
    box-shadow: 0 4px 12px #0000001a;
}
img, video {
    max-width: 100%;
    height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Custom breathing animation */
@keyframes breathe {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.18); 
    opacity: 0.85; 
  }
}

.animate-breathe {
  animation: breathe 2s ease-in-out infinite;
}